# Virtual environments
.venv/
venv/
env/
ENV/

# Allure
allure-results/
allureress/
allure-report/

# Python
__pycache__
*.pyc

# Environment variables
.env

# IDE
.idea/
.vscode/
.idea/VM API.iml
.idea/misc.xml
.idea/workspace.xml